@{
    ViewData["Title"] = "Home Page";
}


<h2>Administration views</h2>
<a asp-controller="VehicleMake" asp-action="Index">Makes</a><br>
<a asp-controller="VehicleModel" asp-action="Index">Models</a>
